.status-wrapper {
    align-items: center;
    height: 200px;
}
.chart-wrapper {
    max-width: 200px;
}
.chart-legend {
    max-width: 200px;
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: bold;
    color: #666;
    > div {
        margin: 12px 0;
    }
    .legend-label {
        padding-left: 10px;
    }
    .legend-value {
        float: right;
    }
}
