<mat-card class="box-card">
    <mat-card-header>
        <mat-card-title>Job Status</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="status-wrapper flex-grid">
            <div class="chart-wrapper flex-primary">
                <app-donut-chart [data]="chartData"></app-donut-chart>
            </div>
            <div class="chart-legend flex-primary">
                <div *ngFor="let data of chartData">
                    <span class="fa fa-circle" [style.color]="data.color"></span>
                    <span class="legend-label">{{ data.name }}</span>
                    <span class="legend-value">{{ data.y }}</span>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
