apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: yunikorn-admission-controller-mutations
  labels:
    app: yunikorn
webhooks:
  - name: admission-webhook.yunikorn.mutate-pods
    clientConfig:
      service:
        name: ${SERVICE}
        namespace: ${NAMESPACE}
        path: "/mutate"
      caBundle: ${CA_PEM_B64}
    rules:
      - operations: ["CREATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
    failurePolicy: Ignore
