.cluster-info {
    width: 100%;
    height: 100%;
    padding: 25px;
    .left-col {
        width: 35%;
        max-width: 35%;
        margin-right: 30px;
    }
    .right-col {
        width: 65%;
        max-width: 65%;
    }
    .grid-row {
        margin-top: 30px;
    }
}
