name: Pre-commit checks

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Checkout source code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check license
        run: make license-check

      - name: Go lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.33.0
          make lint
        if: ${{ github.event_name == 'pull_request' }}
      - name: unit test
        run: make test

      - name: Code coverage
        uses: codecov/codecov-action@v2

  e2e-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s: [v1.23.1, v1.22.4, v1.21.2, v1.20.7]
        plugin: ['', '--plugin']
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: actions/checkout@v2
      - run: ./scripts/run-e2e-tests.sh -a "test" -n "yk8s" -v "kindest/node:${KIND_NODE_IMAGE}" ${KIND_EXTRA_ARGS}
        env:
          KIND_NODE_IMAGE: ${{ matrix.k8s }}
          KIND_EXTRA_ARGS: ${{ matrix.plugin }}
