name: Pre-commit checks

on:
  pull_request:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Fetch all branches and tags
        run: git fetch --all
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: .go_version
      - name: Check license
        run: make license-check
      - name: Go lint
        run: make lint
      - name: Run Version Check
        run: make pseudo
      - name: Run ShellCheck
        run: make check_scripts
      - name: Unit tests
        run: make test
      - name: Code coverage
        uses: codecov/codecov-action@v3
        with:
          files: build/coverage.txt

  e2e-tests:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        k8s: [v1.28.0, v1.27.3, v1.26.6, v1.25.11, v1.24.15]
        plugin: ['', '--plugin']
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Fetch all branches and tags
        run: git fetch --all
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: .go_version
      - name: Set hugepage
        run: |
          echo "vm.nr_hugepages = 1024" | sudo tee -a /etc/sysctl.conf
          sudo sysctl -p
          sudo sysctl -a | grep vm.nr_hugepages
      - run: ./scripts/run-e2e-tests.sh -a "test" -n "yk8s" -v "kindest/node:${KIND_NODE_IMAGE}" ${KIND_EXTRA_ARGS}
        env:
          KIND_NODE_IMAGE: ${{ matrix.k8s }}
          KIND_EXTRA_ARGS: ${{ matrix.plugin }}
